<div class="m-4">
    <div class="w-full h-11 px-8 py-2.5 bg-[#ced4da] rounded-xl justify-center items-center gap-2 inline-flex">
        <h3 class="text-center text-[#fff] text-base font-bold font-Cairo leading-normal">
          المعلومات الأساسية
        </h3>
      </div>
      
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-4">
        <div class="w-full h-20 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">رقم الطلب</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">#12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الاشارة</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">أسم مقدم الطلب</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">#12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الرقم المدني لمقدم الطلب</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">أسم الشركة</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">#12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الكويت في</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الرقم المركزي</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">#12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الرقم المدني للجهة</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الرقم المشترك للترخيص</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">#12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">رقم الترخيص</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">رقم الكتاب المشترك</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">العنوان</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">الرقم الآلي للعنوان</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
          <div class="w-full h-20 p-4 bg-white rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
            <div class="text-center text-neutral-400 text-xs font-medium leading-none">تاريخ الطلب</div>
            <div class="text-right text-neutral-600 text-sm font-bold leading-snug">12357</div>
          </div>
       
      </div>
      <div class="w-full h-11 px-8 py-2.5 bg-[#ced4da] rounded-xl justify-center items-center gap-2 inline-flex">
        <h3 class="text-center text-[#fff] text-base font-bold font-Cairo leading-normal">
          الانشطة
        </h3>
      </div>


      <div class="w-1/4 h-11 mt-2 px-8 py-2.5 bg-[#fae5d3] rounded-xl justify-center items-center gap-2 inline-flex">
        <h3 class="text-center text-[#000] text-base font-bold font-Cairo leading-normal">
          تعديل عنوان
        </h3>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
      <div class="w-1/4 h-11 mt-2 px-8 py-2.5 bg-[#fae5d3] rounded-xl justify-center items-center gap-2 inline-flex">
        <h3 class="text-center text-[#000] text-base font-bold font-Cairo leading-normal">
          طلب اضافة
        </h3>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
      <div class="w-full mt-2 h-25 p-4 bg-[white] rounded-lg border border-neutral-200 flex-col justify-start items-start gap-2 inline-flex">
        <div class="text-center text-neutral-400 text-xs font-medium leading-none">نشاط رقم: 96</div>
        <div class="text-right text-neutral-500 text-sm font-bold leading-snug">حفر أبار النفط</div>
        <div class="text-right text-neutral-700 text-sm font-bold leading-snug">حفر أبار النفط النفط النفط النفط النفط النفط</div>
      </div>
</div>